if [[ -v VIRTUAL_ENV ]]; then
    target_venv="$PWD/venv"
    if [[ "$VIRTUAL_ENV" != "$target_venv" ]]; then
        printf "\033[33mCurrent virtual environment '$VIRTUAL_ENV' differs from '$target_venv'\033[0m\n"
    fi
else
    printf "\033[34mRun \`. venv/bin/activate\` to activate this venv\033[0m\n"
fi
